
.icon-certificate:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-plus-squared:before { content: '\e802'; } /* '' */
.icon-plus-squared-alt:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-ok-squared:before { content: '\e805'; } /* '' */
.icon-upload-cloud:before { content: '\e806'; } /* '' */
.icon-download-cloud:before { content: '\e807'; } /* '' */
.icon-chat-empty:before { content: '\e808'; } /* '' */
.icon-docs:before { content: '\e809'; } /* '' */
.icon-keyboard:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-female:before { content: '\e80c'; } /* '' */
.icon-male:before { content: '\e80d'; } /* '' */
.icon-mic:before { content: '\e80e'; } /* '' */
.icon-volume-up:before { content: '\e80f'; } /* '' */
.icon-calendar-empty:before { content: '\e810'; } /* '' */
.icon-box:before { content: '\e811'; } /* '' */
.icon-award:before { content: '\e812'; } /* '' */
.icon-umbrella:before { content: '\e813'; } /* '' */
.icon-sun:before { content: '\e814'; } /* '' */
.icon-moon:before { content: '\e815'; } /* '' */
.icon-globe:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-tablet:before { content: '\e818'; } /* '' */
.icon-motorcycle:before { content: '\e819'; } /* '' */
.icon-bicycle:before { content: '\e81a'; } /* '' */
.icon-cab:before { content: '\e81b'; } /* '' */
.icon-user-md:before { content: '\e81c'; } /* '' */
.icon-stethoscope:before { content: '\e81d'; } /* '' */
.icon-heartbeat:before { content: '\e81e'; } /* '' */
.icon-gauge:before { content: '\e81f'; } /* '' */
.icon-hammer:before { content: '\e820'; } /* '' */
.icon-shield:before { content: '\e821'; } /* '' */
.icon-food:before { content: '\e822'; } /* '' */
.icon-tree:before { content: '\e823'; } /* '' */
.icon-binoculars:before { content: '\e824'; } /* '' */
.icon-soccer-ball:before { content: '\e825'; } /* '' */
.icon-cancel:before { content: '\e826'; } /* '' */
.icon-check:before { content: '\e827'; } /* '' */
.icon-tag:before { content: '\e828'; } /* '' */
.icon-eye:before { content: '\e829'; } /* '' */
.icon-home:before { content: '\e82a'; } /* '' */
.icon-docs-1:before { content: '\e82b'; } /* '' */
.icon-cancel-1:before { content: '\e82c'; } /* '' */
.icon-archive:before { content: '\e82d'; } /* '' */
.icon-lamp:before { content: '\e82e'; } /* '' */
.icon-trophy:before { content: '\e82f'; } /* '' */
.icon-lifebuoy:before { content: '\e830'; } /* '' */
.icon-megaphone-1:before { content: '\e831'; } /* '' */
.icon-droplet:before { content: '\e832'; } /* '' */
.icon-award-1:before { content: '\e833'; } /* '' */
.icon-mobile-alt:before { content: '\e834'; } /* '' */
.icon-easel:before { content: '\e835'; } /* '' */
.icon-dollar:before { content: '\e836'; } /* '' */
.icon-bell:before { content: '\e837'; } /* '' */
.icon-bar:before { content: '\e838'; } /* '' */
.icon-baseball:before { content: '\e839'; } /* '' */
.icon-bicycle-1:before { content: '\e83a'; } /* '' */
.icon-commerical-building:before { content: '\e83b'; } /* '' */
.icon-cricket:before { content: '\e83c'; } /* '' */
.icon-football:before { content: '\e83d'; } /* '' */
.icon-garden:before { content: '\e83e'; } /* '' */
.icon-golf:before { content: '\e83f'; } /* '' */
.icon-tennis:before { content: '\e840'; } /* '' */
.icon-soccer:before { content: '\e841'; } /* '' */
.icon-wrench:before { content: '\e842'; } /* '' */
.icon-cogs:before { content: '\e843'; } /* '' */
.icon-lightbulb:before { content: '\e844'; } /* '' */
.icon-gift-1:before { content: '\e845'; } /* '' */
.icon-glasses:before { content: '\e846'; } /* '' */
.icon-guidedog:before { content: '\e847'; } /* '' */
.icon-truck:before { content: '\e848'; } /* '' */
.icon-money:before { content: '\e849'; } /* '' */
.icon-t-shirt:before { content: '\e84a'; } /* '' */
.icon-clock:before { content: '\e84b'; } /* '' */
.icon-lodging:before { content: '\e84c'; } /* '' */
.icon-battery:before { content: '\e84d'; } /* '' */
.icon-key:before { content: '\e84e'; } /* '' */
.icon-steering-wheel:before { content: '\e84f'; } /* '' */
.icon-emo-happy:before { content: '\e850'; } /* '' */
.icon-emo-unhappy:before { content: '\e851'; } /* '' */
.icon-coverflow:before { content: '\e852'; } /* '' */
.icon-coverflow-empty:before { content: '\e853'; } /* '' */
.icon-spread:before { content: '\e854'; } /* '' */
.icon-king:before { content: '\e855'; } /* '' */
.icon-lightbulb-alt:before { content: '\e856'; } /* '' */
.icon-leaf:before { content: '\e857'; } /* '' */
.icon-briefcase:before { content: '\e858'; } /* '' */
.icon-suitcase:before { content: '\e859'; } /* '' */
.icon-road:before { content: '\e85a'; } /* '' */
.icon-gift:before { content: '\e85b'; } /* '' */
.icon-megaphone:before { content: '\e85c'; } /* '' */
.icon-magic:before { content: '\e85d'; } /* '' */
.icon-street-view:before { content: '\e85e'; } /* '' */
.icon-newspaper:before { content: '\e85f'; } /* '' */
.icon-facebook-squared:before { content: '\e860'; } /* '' */
.icon-feather:before { content: '\e861'; } /* '' */
.icon-gplus-squared:before { content: '\e862'; } /* '' */
.icon-flag:before { content: '\e863'; } /* '' */
.icon-users:before { content: '\e864'; } /* '' */
.icon-rocket:before { content: '\e865'; } /* '' */
.icon-camera:before { content: '\e866'; } /* '' */
.icon-brush:before { content: '\e867'; } /* '' */
.icon-rain:before { content: '\e868'; } /* '' */
.icon-umbrella-1:before { content: '\e869'; } /* '' */
.icon-videocam-alt:before { content: '\e86a'; } /* '' */
.icon-signal:before { content: '\e86b'; } /* '' */
.icon-library:before { content: '\e86c'; } /* '' */
.icon-pharmacy:before { content: '\e86d'; } /* '' */
.icon-police:before { content: '\e86e'; } /* '' */
.icon-prison:before { content: '\e86f'; } /* '' */
.icon-tree-2:before { content: '\e870'; } /* '' */
.icon-tree-1:before { content: '\e871'; } /* '' */
.icon-swimming:before { content: '\e872'; } /* '' */
.icon-giraffe:before { content: '\e873'; } /* '' */
.icon-fast-food:before { content: '\e874'; } /* '' */
.icon-th:before { content: '\e875'; } /* '' */
.icon-columns:before { content: '\e876'; } /* '' */
.icon-hourglass:before { content: '\e877'; } /* '' */
.icon-sound:before { content: '\e878'; } /* '' */
.icon-mic-1:before { content: '\e879'; } /* '' */
.icon-key-1:before { content: '\e87a'; } /* '' */
.icon-minus-squared:before { content: '\e87b'; } /* '' */
.icon-minus:before { content: '\e87c'; } /* '' */
.icon-user:before { content: '\e87d'; } /* '' */
.icon-star:before { content: '\e87e'; } /* '' */
.icon-star-empty:before { content: '\e87f'; } /* '' */
.icon-star-half:before { content: '\e880'; } /* '' */
.icon-star-half-alt:before { content: '\e881'; } /* '' */
.icon-link-ext:before { content: '\e882'; } /* '' */
.icon-link-ext-alt:before { content: '\e883'; } /* '' */
.icon-attach:before { content: '\e884'; } /* '' */
.icon-pin:before { content: '\e885'; } /* '' */
.icon-eye-1:before { content: '\e886'; } /* '' */
.icon-eye-off:before { content: '\e887'; } /* '' */
.icon-tag-1:before { content: '\e888'; } /* '' */
.icon-tags:before { content: '\e889'; } /* '' */
.icon-bookmark:before { content: '\e88a'; } /* '' */
.icon-bookmark-empty:before { content: '\e88b'; } /* '' */
.icon-retweet:before { content: '\e88c'; } /* '' */
.icon-rss:before { content: '\e88d'; } /* '' */
.icon-menu:before { content: '\e88e'; } /* '' */
.icon-cog-alt:before { content: '\e88f'; } /* '' */
.icon-cog:before { content: '\e890'; } /* '' */
.icon-sliders:before { content: '\e891'; } /* '' */
.icon-wrench-1:before { content: '\e892'; } /* '' */
.icon-calendar:before { content: '\e893'; } /* '' */
.icon-calendar-empty-1:before { content: '\e894'; } /* '' */
.icon-clock-1:before { content: '\e895'; } /* '' */
.icon-paper-plane-empty:before { content: '\e896'; } /* '' */
.icon-fighter-jet:before { content: '\e897'; } /* '' */
.icon-scissors:before { content: '\e898'; } /* '' */
.icon-crop:before { content: '\e899'; } /* '' */
.icon-toggle-on:before { content: '\e89a'; } /* '' */
.icon-toggle-off:before { content: '\e89b'; } /* '' */
.icon-book:before { content: '\e89c'; } /* '' */
.icon-qrcode:before { content: '\e89d'; } /* '' */
.icon-motorcycle-1:before { content: '\e89e'; } /* '' */
.icon-bicycle-2:before { content: '\e89f'; } /* '' */
.icon-bullseye:before { content: '\e8a0'; } /* '' */
.icon-plug:before { content: '\e8a1'; } /* '' */
.icon-angellist:before { content: '\e8a2'; } /* '' */
.icon-venus:before { content: '\e8a3'; } /* '' */
.icon-mars:before { content: '\e8a4'; } /* '' */