$width: 900px;
$color-gray: #EFEFEF;
$color-darkgray: #bfbfbf;
$color-logo-blue: #00aaff;
$color-logo-yellow: #ffd21f;
$color-positive: #228022;
$color-negative: darkred;

@font-face {
  font-family: "chosen";
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "improved";
  src: url("../fonts/Quicksand-Regular.otf");
}

body {
  background-color: $color-gray;
  font-family: chosen;
}

.site-label {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 0;
}

.sitename {
  font-family: sans-serif;
  display: inline-block;
  color: $color-logo-blue;
  span {
    color: $color-logo-yellow;
  }
}

li {
  padding: 4px 0;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .content {
    width: $width;
    margin: 0 auto;

    .games {
      display: inline-block;
      color: #ffffff;

      > div {
        display: inline-block;
        padding: 10px;
      }

      > div.selected {
        background-color: $color-gray;
        font-weight: bold;
        color: #000000;
      }

    }

    .login {
      float: right;
      display: inline-block;
      padding: 10px;
    }

  }
}

.container {
  position: relative;
}

.section {
  background-color: $color-gray;
  border-bottom: 2px solid $color-darkgray;
  padding: 30px 0;

  .content {
    width: $width;
    margin: auto;
  }
}
