$width: 1000px;
$color-gray: #EFEFEF;
$color-darkgray: #dedede;
$color-logo-blue: #00aaff;
$color-logo-yellow: #ffd21f;

@font-face {
  font-family: default;
  src: url('../fonts/OpenSans-Regular.ttf');
}

body {
  background-color: $color-gray;
  font-family: default;
}

.site-label {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 0;
}

.sitename {
  display: inline-block;
  color: $color-logo-blue;
  span {
    color: $color-logo-yellow;
  }
}

li {
  padding: 4px 0;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-darkgray;

  .content {
    width: $width;
    margin: 0 auto;

    .games {
      display: inline-block;

      > div {
        display: inline-block;
        padding: 10px;
      }

      > div.selected {
        background-color: $color-gray;
        font-weight: bold;
      }

    }

    .login {
      float: right;
      display: inline-block;
      padding: 10px;
    }

  }
}

.container {
  position: relative;
  margin-top: 38px;
}

.section {
  background-color: $color-gray;
  border-bottom: 2px solid $color-darkgray;
  padding: 30px 0;

  .content {
    width: $width;
    margin: auto;
  }
}
