@import 'common';

@mixin header-bg {
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //-webkit-filter: blur(1px);
    //-moz-filter: blur(1px);
    //-o-filter: blur(1px);
    //-ms-filter: blur(1px);
    //filter: blur(1px);
  }

  .content {
    position: relative;
  }

  .title {
    display: inline-block;
    font-size: 36px;
    vertical-align: top;
    padding: 40px;
    text-align: center;

    .sub-title {
      font-size: 18px;
      padding-top: 10px;
    }

    .details {
      font-size: 16px;
      padding-top: 15px;
    }
  }
}

.section {
  border-bottom: none;

  &:nth-child(odd) {
    background-color: #ffffff;
  }
}

.tennis-icon {
  background-image: url('../images/racket1.png');
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.playground-header {
  @include header-bg();
  height: 400px;
  padding: 0;
  &:before {
    background: url('../temp/shuttle1.JPG') no-repeat center center;
    background-size: 100%;
  }

  .header {
    width: 50%;
  }

  .location-container {
    float: right;
    margin: 50px 20px -15px 0;
    box-sizing: border-box;

    #location-map {
      width: 400px;
      height: 400px;
      border: 1px solid $color-logo-blue;
    }

    .address {
      font-size: 14px;
      padding: 10px;
      text-align: center;
      border: 1px solid $color-logo-yellow;
    }
  }
}

.event-header {
  @include header-bg();
  &:before {
    background: url('../temp/badminton2.jpg') no-repeat top center;
    background-size: 100%;
  }

  .event-title {
    width: 100%;
  }

  .event-date {
    display: inline-block;
    background: url('../images/date.png') no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 120px;

    .day-month {
      padding: 35px 0 5px 0;
      text-align: center;
      font-size: 22px;
    }

    .year {
      font-size: 26px;
      text-align: center;
    }
  }

  #location-map {
    width: 100%;
    height: 300px;
  }

}

.playground-name {
  position: relative;

  .name {
    font-weight: bold;
    font-size: 34px;
    display: inline-block;
    max-width: 70%;

    .details {
      font-weight: normal;
      .name {
        font-size: 16px;
        display: inline-block;
      }
      .contact {
        display: inline-block;
        line-height: 24px;

        & > div {
          display: inline-block;
        }

        &:before {
          font-family: "fontello";
          content: '( \e80b';
          font-size: 24px;
          padding: 0 5px;
        }

        &:after {
          content: ")";
          font-size: 24px;
        }
      }
    }
  }

  .rating {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    display: inline-block;
    font-size: 20px;

    i {
      padding-left: 15px;

      &.positive {
        color: $color-positive;
      }
      &.negative {
        color: $color-negative;
      }
    }
  }

}

.playground-info {
  padding-bottom: 30px;
}

.detail-tile {
  display: inline-block;
  margin: 15px;
  width: 100%;

  .half {
    width: 50%;
  }

  .heading {
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-logo-blue;
    width: 100%;
    .details {
      font-size: 14px;
      padding-top: 5px;
    }
  }

}

.event-categories {
  .type.collapsed {
    .category-label {
      background-color: $color-logo-yellow;
    }
    .category-details {
      display: none;
    }
  }

  .type.expanded {
    .category-label {
      border: 1px solid $color-logo-yellow;
    }
    .category-details {
      margin-bottom: 30px;
      display: block;
    }
  }

  .category-label {
    font-size: 20px;
    padding: 10px;
    position: relative;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }

  .category-details {
    > div {
      position: relative;
      display: inline-block;
      width: 33%;
      height: 300px;
      //border: 1px solid $color-logo-yellow;
      border-radius: 5px;
      vertical-align: top;
      box-sizing: border-box;
      margin: 15px 0;
      padding: 10px 0;
      text-align: center;
    }

    .numbering {
      font-size: 12px;
      background-color: $color-logo-yellow;
      text-align: center;
      display: inline-block;
      margin: auto;
      padding: 5px 10px;
      border-radius: 15px;
    }

    .message {
      position: absolute;
      box-sizing: border-box;
      top: 30px;
      padding: 15px;
      text-align: center;
      width: 100%;
    }

    .action {
      position: absolute;
      bottom: 0px;
      padding: 5px;
      text-align: center;
      width: 100%;
    }

    .pay {
      padding: 10px;
      background-color: $color-logo-blue;
      color: #ffffff;
      border-radius: 5px;
      border: 1px solid $color-logo-yellow;
      margin-top: 5px;
    }

    .enroll {
      background: url("../images/enroll.png") no-repeat center center;
    }
    .participate {
      background: url("../images/participate.png") no-repeat center center;
    }
    .win {
      background: url("../images/win.png") no-repeat center center;
    }
  }
}

.court-info {
  td {
    padding: 5px;
  }
  .segment {
    width: 100px;
  }

  i {
    color: $color-logo-blue;
  }

  .info-tag {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    //border: 1px solid #ffffff;
    //min-width: 100px;
  }

}

.photos {
  a img {
    height: 100px;
  }
}

.review {
  position: relative;
  padding: 20px 0;

  .date {
    width: 65px;
    height: 100%;
    position: absolute;
    border-right: 1px solid $color-logo-blue;
    border-top: 1px solid $color-gray;
    background-color: rgba(255, 255, 255, 0.5);

    > div {
      font-size: 12px;
      position: absolute;
      display: inline-block;
      text-align: center;
      padding: 2px 4px;

      &:after {
        font-family: 'fontello';
        font-size: 8px;
        position: absolute;
        right: -9px;
        top: 10px;
        color: #ffffff;
        padding: 4px;
        border-radius: 10px;
      }
    }

    > div.positive {
      &:after {
        content: "\e867";
        background-color: $color-positive;
      }
    }

    > div.negative {
      &:after {
        content: "\e868";
        background-color: $color-negative;
      }
    }
  }

  .message, .reviewer {
    padding-left: 85px;
    font-style: italic;
    font-size: 14px;
  }

  .reviewer {
    &:before {
      content: "-"
    }

    text-align: right;
  }
}

.legend {
  width: 250px;
  padding-top: 80px;
  float: left;
  text-align: left;
  .item {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid $color-gray;
    
    &:nth-child(1) {
      border-top: 1px solid $color-gray;
    }

    &.selected {
      background-color: $color-gray;
    }
  }
}

.legend-details {
  border-left: 5px solid $color-gray;
  box-sizing: border-box;
  width: 650px;
  float: right;

  .more-info {
    margin: 0 30px;
    float: right;

    span {
      margin: 0 20px;
    }
  }

  #timingsWidget {
    width: 100%;
    height: 500px;
    font-size: 14px;
    box-sizing: border-box;

    .time {
      font-size: 11px;
    }

    .timeTick {
      stroke-width: 2px;
      stroke: $color-logo-blue;
    }

    .dayLines, {
      stroke-width: 0.5px;
      shape-rendering: crispEdges;
      stroke: $color-logo-yellow;
    }
  }
  
}


