@font-face {
  font-family: "chosen";
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "improved";
  src: url("../fonts/Quicksand-Regular.otf"); }
body {
  background-color: #EFEFEF;
  font-family: chosen; }

input[type="button"] {
  border: 1px solid #bfbfbf;
  border-radius: 4px; }

.site-label {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 0; }

.sitename {
  font-family: sans-serif;
  display: inline-block;
  color: #00aaff; }
  .sitename span {
    color: #ffd21f; }

li {
  padding: 4px 0; }

a {
  text-decoration: none; }

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
  .header .content {
    width: 900px;
    margin: 0 auto; }
    .header .content .games {
      display: inline-block;
      color: #ffffff; }
      .header .content .games > div {
        display: inline-block;
        padding: 10px; }
      .header .content .games > div.selected {
        background-color: #EFEFEF;
        font-weight: bold;
        color: #000000; }
    .header .content .login {
      float: right;
      display: inline-block;
      padding: 10px; }

.container {
  position: relative; }

.section {
  background-color: #EFEFEF;
  border-bottom: 2px solid #bfbfbf;
  padding: 30px 0; }
  .section .content {
    width: 900px;
    margin: auto; }

.entity-name {
  color: white;
  padding-left: 5px;
  display: none; }

.entity-links {
  color: #FFF;
  font-size: 13px;
  display: none;
  border-top: 1px solid black; }
  .entity-links > span {
    float: right; }
    .entity-links > span > span {
      display: inline-block;
      padding: 5px; }

.section {
  padding: 10px 0;
  border-bottom: none;
  display: inline-block;
  width: 100%; }
  .section:nth-child(odd) {
    background-color: #ffffff; }
  .section .half {
    width: 50%; }
  .section .heading {
    font-size: 26px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #00aaff;
    width: 100%; }
    .section .heading .details {
      font-size: 14px;
      padding-top: 5px; }

.tennis-icon {
  background-image: url("../images/racket1.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  display: inline-block; }

.playground-header {
  position: relative;
  display: block;
  height: 400px;
  padding: 0; }
  .playground-header:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .playground-header .header {
    background-color: rgba(0, 0, 0, 0.75); }
  .playground-header .content {
    position: relative; }
  .playground-header .title {
    display: inline-block;
    font-size: 36px;
    vertical-align: top;
    padding: 40px;
    text-align: center; }
    .playground-header .title .sub-title {
      font-size: 18px;
      padding-top: 10px; }
    .playground-header .title .details {
      font-size: 16px;
      padding-top: 15px; }
  .playground-header:before {
    background: url("../temp/shuttle1.JPG") no-repeat center center;
    background-size: 100%; }
  .playground-header .wrapper {
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%; }
  .playground-header .header {
    width: 50%; }
  .playground-header .content {
    height: 100%; }
  .playground-header .options {
    position: relative;
    float: right;
    margin: 82px 40px;
    width: 42px; }
    .playground-header .options i {
      font-size: 30px;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.4);
      line-height: 46px; }
  .playground-header .playground-name {
    border-bottom: none;
    margin-bottom: 0; }
    .playground-header .playground-name .name {
      font-weight: bold;
      font-size: 34px;
      display: inline-block;
      max-width: 70%; }
      .playground-header .playground-name .name .details {
        font-weight: normal; }
        .playground-header .playground-name .name .details .name {
          font-size: 16px;
          display: inline-block; }
    .playground-header .playground-name .rating {
      position: absolute;
      top: 0;
      right: 0;
      padding: 26px 10px;
      display: inline-block;
      font-size: 12px;
      font-weight: bold; }
      .playground-header .playground-name .rating span {
        display: inline-block;
        padding: 0 5px; }
        .playground-header .playground-name .rating span i {
          padding: 5px;
          border-radius: 15px; }
          .playground-header .playground-name .rating span i.positive {
            color: #228022;
            border: 2px solid #228022; }
          .playground-header .playground-name .rating span i.negative {
            color: darkred;
            border: 2px solid darkred; }
        .playground-header .playground-name .rating span div {
          display: block;
          text-align: center;
          padding-top: 7px;
          font-size: 14px; }

.section.playground-links {
  border-top: 1px solid #bfbfbf; }
  .section.playground-links .links {
    text-align: right;
    font-weight: bold; }
    .section.playground-links .links span {
      padding: 0 5px; }

.section.playground-details {
  background-image: url("../images/patterns/crossword.png");
  padding-top: 50px; }

.event-header {
  position: relative; }
  .event-header:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .event-header .header {
    background-color: rgba(0, 0, 0, 0.75); }
  .event-header .content {
    position: relative; }
  .event-header .title {
    display: inline-block;
    font-size: 36px;
    vertical-align: top;
    padding: 40px;
    text-align: center; }
    .event-header .title .sub-title {
      font-size: 18px;
      padding-top: 10px; }
    .event-header .title .details {
      font-size: 16px;
      padding-top: 15px; }
  .event-header:before {
    background: url("../temp/badminton2.jpg") no-repeat top center;
    background-size: 100%; }
  .event-header .event-title {
    width: 100%; }
  .event-header .event-date {
    display: inline-block;
    background: url("../images/date.png") no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 120px; }
    .event-header .event-date .day-month {
      padding: 35px 0 5px 0;
      text-align: center;
      font-size: 22px; }
    .event-header .event-date .year {
      font-size: 26px;
      text-align: center; }
  .event-header #location-map {
    width: 100%;
    height: 300px; }

.playground-info {
  padding-bottom: 30px; }

.event-categories .type.collapsed .category-label {
  background-color: #ffd21f; }
.event-categories .type.collapsed .category-details {
  display: none; }
.event-categories .type.expanded .category-label {
  border: 1px solid #ffd21f; }
.event-categories .type.expanded .category-details {
  margin-bottom: 30px;
  display: block; }
.event-categories .category-label {
  font-size: 20px;
  padding: 10px;
  position: relative;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer; }
.event-categories .category-details > div {
  position: relative;
  display: inline-block;
  width: 33%;
  height: 300px;
  border-radius: 5px;
  vertical-align: top;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 10px 0;
  text-align: center; }
.event-categories .category-details .numbering {
  font-size: 12px;
  background-color: #ffd21f;
  text-align: center;
  display: inline-block;
  margin: auto;
  padding: 5px 10px;
  border-radius: 15px; }
.event-categories .category-details .message {
  position: absolute;
  box-sizing: border-box;
  top: 30px;
  padding: 15px;
  text-align: center;
  width: 100%; }
.event-categories .category-details .action {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  text-align: center;
  width: 100%; }
.event-categories .category-details .pay {
  padding: 10px;
  background-color: #00aaff;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffd21f;
  margin-top: 5px; }
.event-categories .category-details .enroll {
  background: url("../images/enroll.png") no-repeat center center; }
.event-categories .category-details .participate {
  background: url("../images/participate.png") no-repeat center center; }
.event-categories .category-details .win {
  background: url("../images/win.png") no-repeat center center; }

.court-info {
  width: 100%; }
  .court-info td.title {
    width: 150px; }
  .court-info td {
    padding: 5px; }
    .court-info td > div {
      box-sizing: border-box; }
  .court-info .segment {
    width: 100px; }
  .court-info .info-tag {
    display: inline-block;
    padding: 5px;
    margin-right: 10px; }
    .court-info .info-tag i {
      color: #00aaff; }
  .court-info .big .info-tag {
    width: 30%;
    box-sizing: border-box;
    font-size: 20px; }

.section.playground-timings {
  background-image: url("../images/patterns/crossword.png"); }

.section.location-section {
  background-image: url("../images/patterns/grey_wash_wall.png"); }
  .section.location-section .heading {
    color: white;
    border-bottom-color: #ffd21f; }
  .section.location-section #location-map {
    display: inline-block;
    width: 70%;
    height: 400px; }
  .section.location-section .address {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30%;
    height: 400px;
    float: right;
    font-size: 16px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; }
    .section.location-section .address input[type="button"] {
      padding: 5px;
      margin: 5px;
      color: black;
      background-color: #ffd21f; }

.section.playground-photos {
  background-image: url("../images/patterns/debut_light.png"); }
  .section.playground-photos .photos a img {
    height: 100px; }

.section.playground-reviews {
  background-image: url("../images/patterns/debut_light.png"); }

.review {
  position: relative;
  padding: 20px 0; }
  .review .date {
    width: 65px;
    height: 100%;
    position: absolute;
    border-right: 1px solid #00aaff; }
    .review .date > div {
      font-size: 12px;
      position: absolute;
      display: inline-block;
      text-align: center;
      padding: 2px 4px; }
      .review .date > div:after {
        font-family: 'fontello';
        font-size: 9px;
        line-height: 9px;
        position: absolute;
        right: -9px;
        top: 10px;
        color: #ffffff;
        padding: 4px;
        border-radius: 10px; }
    .review .date > div.positive:after {
      content: "\e867";
      background-color: #228022; }
    .review .date > div.negative:after {
      content: "\e868";
      background-color: darkred; }
  .review .message, .review .reviewer {
    padding-left: 85px;
    font-style: italic;
    font-size: 14px; }
  .review .reviewer {
    text-align: right; }
    .review .reviewer:before {
      content: "-"; }

.legend {
  width: 250px;
  padding-top: 20px;
  float: left;
  text-align: left; }
  .legend .item {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #EFEFEF; }
    .legend .item:nth-child(1) {
      border-top: 1px solid #EFEFEF; }
    .legend .item.selected {
      background-color: #EFEFEF; }

.legend-details {
  border-left: 5px solid #EFEFEF;
  box-sizing: border-box;
  width: 650px;
  float: right; }
  .legend-details .more-info {
    padding: 10px;
    float: right;
    border-bottom: 1px solid #bfbfbf; }
    .legend-details .more-info span {
      margin: 0 20px; }
  .legend-details #timingsWidget {
    width: 100%;
    height: 500px;
    font-size: 14px;
    box-sizing: border-box; }
    .legend-details #timingsWidget .time {
      font-size: 11px; }
    .legend-details #timingsWidget .timeTick {
      stroke-width: 2px;
      stroke: #ffd21f; }
    .legend-details #timingsWidget .dayLines {
      stroke-width: 1px;
      shape-rendering: crispEdges;
      stroke: #24E917; }
    .legend-details #timingsWidget .slotName {
      fill: #24E917; }

/*# sourceMappingURL=detail2.css.map */
