@import 'playground2';

input[type="text"], textarea {  
    background-color: transparent;
    border: 1px dashed black;
    width: 100%;
    margin: 2px;

    &.mandatory {
        background-color: rgba(255,0,0,0.15);
    }
}

label {
    cursor: pointer;
}

textarea {
    resize: vertical;
}


.hide {
    display: none;
}

.editor-note {
    color: #595656;
    font-style: italic;
}

.cropFrame {
    margin: auto;

    .cropControls {
        background: none;
        width: 50px;
        height: 28px;
        margin: auto;
        display: block;
        position: relative;

        .cropImageSelector {
            position: relative;
            float: right;
            width: 23px;
            margin: 2px 2px 0 0;
            font-size: 14px;
            border-radius: 4px;

            input[type="file"] {
                opacity: 0;
                z-index: 2;
                cursor: pointer;
                width: 25px;
            }
            i {
                position: absolute;
                pointer-events: none;
                background-color: white;
                border: 1px solid black;
                border-radius: 2px;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }    
    }
}

.page-banner-section {
    &:before {
        background: none;
    }

    & > .cropFrame {        
        margin: auto;

        .cropControls {
            margin-top: 140px;
            width: 75px;
        }
    }

    .icon {
        border: 1px dashed black;
        vertical-align: bottom;

        img {
            max-width: none;
        }
    }

    .options {
        width: 75px;
    }    
}

.playground-details-section {
    input[type="text"] {
        display: inline-block;
        width: 50px;

        &.medium {
            width: 100px;
        }
    }

    input[type="checkbox"] {
        display: none;
        
        &:not(:checked) + i {
            color: $color-darkgray;
        } 
    }
}

.location-section {
    #location-map-input {
        border: 1px solid black;
        background: white;
        padding: 5px;
        margin: 5px;
        color: black;
        width: 50%;
    }
}

.playground-photos-section {
    #image-resizing-canvas {
        visibility: hidden;
    }

    .photos {
        .new-image {
            position: relative;
            display: inline-block;
            width: 290px;
            margin: 0 3px;

            img {
                width: 100%;
            }

            input {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0 0 4px 0;
                box-sizing: border-box;
                background-color: rgba(255,255,255,0.25);
                color: black;
            }
        }
    }

    .gallery-files-selector {
        position: relative;
        width: 50px;
        margin: 10px auto;
        font-size: 14px;
        border-radius: 4px;

        input[type="file"] {
            opacity: 0;
            z-index: 2;
            cursor: pointer;
            width: 50px;
        }
        span {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            z-index: 1;
        }        
    }
}